global
    log         127.0.0.1 local0
    log         127.0.0.1 local1 notice
    maxconn     4096
    daemon

defaults
    log         global
    mode        http
    option      httplog
    option      dontlognull
    retries     3
    timeout     connect  5s
    timeout     client   30s
    timeout     server   30s


listen stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s
    stats show-legends
    stats show-node
    stats auth admin:admin123


frontend http_front
    bind *:9000
    default_backend http_back


backend http_back
    balance     roundrobin

    http-response set-header X-Backend-Server %s

    server backend1 127.0.0.1:3000 check inter 2s rise 2 fall 3
    server backend2 127.0.0.1:3001 check inter 2s rise 2 fall 3
    server backend3 127.0.0.1:3002 check inter 2s rise 2 fall 3 backup


frontend http_front_leastconn
    bind *:9001
    default_backend http_back_leastconn

backend http_back_leastconn
    balance     leastconn
    server backend1 127.0.0.1:3000 check inter 2s rise 2 fall 3
    server backend2 127.0.0.1:3001 check inter 2s rise 2 fall 3
    server backend3 127.0.0.1:3002 check inter 2s rise 2 fall 3 backup
